.git
.github
.vscode
.idea
.DS_Store
README.md

target/*
!target/dx/
target/dx/*
!target/dx/website/
target/dx/website/*
!target/dx/website/release/
target/dx/website/release/*
!target/dx/website/release/web/
target/dx/website/release/web/*
!target/dx/website/release/web/public/
!target/dx/website/release/web/public/**
