* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

body {
    background-color: #1f1f1f;
    color: #ffffff;
    font-family: "Space Mono", Tahoma, Geneva, Verdana, sans-serif;
}

#Page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

header {
    /*max-width: 1200px;*/
    text-align: left;
    color: whitesmoke;
}

header b {
    color: #ccc;
}

.nav ul {
    display: flex;
    justify-content: center;
}

.nav li:not(:last-child)::after {
    content: "";
    margin-left: 1.5rem;
    /*margin-right: 1.5rem;*/
    color: #ccc;
}

.page {
    min-height: 100vh;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cursor {
    display: inline-block;
    animation: blink 1s infinite steps(1);
}

@keyframes blink {
    0%,
    49% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}

.terminal-about {
    width: min(100%, 700px);
}

/*.icon {
    animation: bounce 0.8s infinite ease-in-out steps(1);
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-4px);
    }
}*/
